<nav  class="Top-Bar ">
  <div  class="FL clearfix">
     <h4 >Project ADA</h4>
  </div>
  <div  class="FR clearfix">
     <ul >
        <li ><a  href="javascript:void"><span  class="searchBtn">Search</span></a></li>
        <li ><a  href="javascript:void"><span  class="menuBtn">Menu</span></a></li>
        <li ><a  href="javascript:void"><span  class="notiBtn">bell</span></a></li>
        <li >
           <a  href="javascript:void">
              <span  class="userProfile">
                 <div  class="profileImgCont"><img  src="">img</div>
              </span>
           </a>
        </li>
     </ul>
  </div>
</nav>