<div class="row">
    <div class="col-sm-12">
        <!-- Start: Header Component -->
        <app-header></app-header>
        <!-- End:  Header Component-->

        <!-- Start: login Screren -->
        <app-login></app-login>

        <!-- End: login Screren -->
    </div>
</div>

<div style="display:none">
    <!-- Start:  Sub Header Component-->
    <app-sub-header></app-sub-header>
    <!-- End:  Sub Header Component-->
    <!-- Start: Tab nav Componenet-->
    <app-tab-nav></app-tab-nav>
    <!-- End:  Tab nav Componenet-->
    <!-- Start:  Assingment Compoenet-->
    <app-assingment></app-assingment>
    <!-- End:  Assingment Compoenet-->
</div>




 

