<div class="tabNavg clearfix">
  <div class="FL">
     <ul>
        <li><a class="active" href="javascript:void(0)">Live </a></li>
        <li><a href="javascript:void(0)">Completed</a></li>
        <li><a href="javascript:void(0)">Planned</a></li>
        <li><a href="javascript:void(0)">Cancelled</a></li>
     </ul>
  </div>
  <div class="sortItem FR">
     <ul>
        <li><a href="javascript:void(0)"> all types </a></li>
        <li><a href="javascript:void(0)"> grid 1 </a></li>
        <li><a href="javascript:void(0)"> grid 2 </a></li>
        <li>
           <a href="javascript:void(0)">
              <div class="slidecontainer"><input class="slider" id="myRange" max="100" min="1" type="range" value="50"></div>
           </a>
        </li>
     </ul>
  </div>
</div>