<div class="container">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Small Modal</button>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content custmPop">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Assessment</h4>
        <p class="sub-title">Choose one of the below categories to create a assignment and assign it to the Students</p>
      </div>
      <div class="modal-body">
       <div class="content">
        <div class="col-25">
            <div class="box"></div>
            <div class="textHolder active">
            <h6>Quiz</h6>
            <p>Information of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                here</p>
              </div>
        </div>
        <div class="col-25">
            <div class="box"></div>
            <div class="textHolder">
                <h6>Quiz</h6>
               <p>Information of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                here</p>
                  </div>
        </div>
        <div class="col-25">
            <div class="box"></div>
            <div class="textHolder">
                <h6>Quiz</h6>
               <p>Information of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                here</p>
                  </div>
         </div>
         <div class="col-25">
            <div class="box"></div>
            <div class="textHolder">
                <h6>Quiz</h6>
               <p>Information of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                hereInformation of Quiz  All the Required Information of the Quiz can be presented
                here</p>
                  </div>  
          </div>
       </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div> 