<div class="listView">
  <div class="ListViewHolder">
      <div class="profileImg">
          <img src="//via.placeholder.com/300x190">
          <span class="succes"></span>
      </div>
      <div class="assingment">
        <p class="assingmentTitle">Physics Assignment - 3</p>
        <ul>
          <li>Class 6</li>
          <li>Section A</li>
          <li>Monthly</li>
        </ul>
      </div>
      <div class="comments"> 
        <ul>
            <li>Class 6</li>
            <li>Section A</li>
            <li>Monthly</li>
        </ul>
      </div>
      <div class="status">
        <p class="dueDate">Completed on 20/8/2018</p>
        <p class="statusTxt">Completed on 20/8/2018</p>
      </div>
      <div class="statusCirle">
          <div class="clearfix">
              <div class="c100 p100">
                  <span>100%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>                 
          </div>
      </div>
      <div class="dropDown">
      </div>
  </div>

  <div class="ListViewHolder">
      <div class="profileImg">
          <img src="//via.placeholder.com/300x190">
          <span class="succes"></span>
      </div>
      <div class="assingment">
        <p class="assingmentTitle">Physics Assignment - 3</p>
        <ul>
          <li>Class 6</li>
          <li>Section A</li>
          <li>Monthly</li>
        </ul>
      </div>
      <div class="comments"> 
        <ul>
            <li>Class 6</li>
            <li>Section A</li>
            <li>Monthly</li>
        </ul>
      </div>
      <div class="status">
        <p class="dueDate">Completed on 20/8/2018</p>
        <p class="statusTxt">Completed on 20/8/2018</p>
      </div>
      <div class="statusCirle">
          <div class="clearfix">
              <div class="c100 p25">
                  <span>25%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>                 
          </div>
      </div>
      <div class="dropDown">
      </div>
  </div>

  <div class="ListViewHolder">
      <div class="profileImg">
          <img src="//via.placeholder.com/300x190">
          <span class="danger"></span>
      </div>
      <div class="assingment">
        <p class="assingmentTitle">Physics Assignment - 3</p>
        <ul>
          <li>Class 6</li>
          <li>Section A</li>
          <li>Monthly</li>
        </ul>
      </div>
      <div class="comments"> 
        <ul>
            <li>Class 6</li>
            <li>Section A</li>
            <li>Monthly</li>
        </ul>
      </div>
      <div class="status">
        <p class="dueDate">Completed on 20/8/2018</p>
        <p class="statusTxt">Completed on 20/8/2018</p>
      </div>
      <div class="statusCirle">
          <div class="clearfix">
              <div class="c100 p50">
                  <span>50%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>                 
          </div>
      </div>
      <div class="dropDown">
      </div>
  </div>

  <div class="ListViewHolder">
      <div class="profileImg">
          <img src="//via.placeholder.com/300x190">
          <span class="succes"></span>
      </div>
      <div class="assingment">
        <p class="assingmentTitle">Physics Assignment - 3</p>
        <ul>
          <li>Class 6</li>
          <li>Section A</li>
          <li>Monthly</li>
        </ul>
      </div>
      <div class="comments"> 
        <ul>
            <li>Class 6</li>
            <li>Section A</li>
            <li>Monthly</li>
        </ul>
      </div>
      <div class="status">
        <p class="dueDate">Completed on 20/8/2018</p>
        <p class="statusTxt">Completed on 20/8/2018</p>
      </div>
      <div class="statusCirle">
          <div class="clearfix">
              <div class="c100 p50">
                  <span>50%</span>
                  <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                  </div>
              </div>                 
          </div>
      </div>
      <div class="dropDown">
      </div>
  </div>
</div>