<div class="imgHolder">
       <div class="grid3">
        <ul class="gridList">
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p class="text-info">1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p class="text-success">1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p class="text-info">1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p class="text-success">1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p>1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p>1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p>1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p>1 Day Remaining </p>
                 </div>
              </div>
           </li>
           <li>
              <figure><img src="//via.placeholder.com/300x190"></figure>
              <div class="infoContainer">
                 <figcaption>
                    <h6>Physics Assignment - 3</h6>
                    <ul class="source">
                       <li>Class 6</li>
                       <li>Section D</li>
                       <li>Monthly</li>
                    </ul>
                 </figcaption>
                 <div class="info">
                    <ul>
                       <li>Class 6</li>
                       <li>Section D</li>
                    </ul>
                    <em>28/8/2018</em>
                    <p>1 Day Remaining </p>
                 </div>
              </div>
           </li>
        </ul>
     </div> 
</div>