/* You can add global styles to this file, and also import other style files */
         /* start : reset css */
         article,aside,details,figcaption,figure,footer,header,hgroup,hr,menu,nav,section{display:block}
         a,hr{padding:0}
         abbr,address,article,aside,audio,b,blockquote,body,canvas,caption,cite,code,dd,del,details,dfn,div,dl,dt,em,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:0 0}
         ins,mark{background-color:#ff9;color:#000}
         body{line-height:1}
         blockquote,q{quotes:none}
         blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
         a{margin:0;font-size:100%;vertical-align:baseline;background:0 0}
         ins{text-decoration:none}
         mark{font-style:italic;font-weight:700}
         del{text-decoration:line-through}
         abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
         table{border-collapse:collapse;border-spacing:0}
         hr{height:1px;border:0;border-top:1px solid #ccc;margin:1em 0}
         input,select{vertical-align:middle}
         a,a:hover,a:active,a:focus{font-size:inherit;font-size:inherit;color:#7f8fa4;text-decoration:none}
         ul, ol{list-style:none;}
         /* end : reset css */
         /* Start: common to all pages */
         .clearfix::after{content:"";clear:both;display:block;}
         body{background-color:#eff3f6}
         .container{max-width:1580px;width:100%;margin:auto}
         .FL{float:left;}
         .FR{float:right;}
         h4{font-family: SourceSansPro; font-size: 20px; font-weight: 600; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #354052;padding:25px 20px}
         .text-info{color:#d35847}
         .text-success{color:#5ad946}